<div class="col-xs-9 contentmenu">

  <div style="display: inline-block;" >
    <h3 class="searchHeader">SELECT BEVERAGE</h3>
  </div>

  <div class="contentmenuButtons">

    <div class="contentSearch">
      <input style="background-color:#ffe893;" placeholder="Search" ng-model="name"/>
      <button style="background-color:#FDD332;" ng-click="search(name, bev_gen, bev_pref, bev_type)">Find</button>
      {{status}}
    </div>

    <div class="dropdown" style="margin-left:12px;">
      <select style="background-color:#FDD332;" ng-model="bev_gen" ng-change="search(name, bev_gen, bev_pref, bev_type)">
        <option value="">No filter</option>
        <option value="1">Ecological</option>
        <option value="2">Kosher</option>
      </select>
    </div>

    <div class="dropdown">
      <select style="background-color:#FDD332;" ng-model="bev_pref" ng-change="search(name, bev_gen, bev_pref, bev_type)">
        <option value="">No sorting</option>
        <option value="1">APK (descending)</option>
        <option value="2">Name (A-Z)</option>
        <option value="3">Name (Z-A)</option>
        <option value="4">Alcohol (high to low)</option>
        <option value="5">Alcohol (low to high)</option>
        <option value="6">Price (high to low)</option>
        <option value="7">Price (low to high)</option>
      </select>
    </div>

    <div class="dropdown">
      <select style="background-color:#FDD332;" ng-model="bev_type" ng-change="search(name, bev_gen, bev_pref, bev_type)">
        <option value="">All types</option>
        <option value="1">Cider</option>
        <option value="2">Beer</option>
        <option value="3">Wine</option>
        <option value="4">Liquor</option>
        <option value="5">Gin</option>
        <option value="6">Rum</option>
        <option value="7">Whiskey</option>
        <option value="8">Tequila</option>
      </select>
    </div>

  </div>

  <div style="overflow-y:scroll; height:850px;">

    <table id="items" class="col-xs-9 col-xs-offset-1 searchfield" align="center">

      <div id="loading">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/e1/4a/89/e14a8998881103a34b931bd4802a5161.jpg">
      </div>

      <div id="fail">
        <h1><b style="color:#FDD332;">{{faildata.status}} {{faildata.statusText}}</b></h1>
        <img class="failimg" width="800px" height="800px" src="404.png">
      </div>

      <tr id="mediumtext">
        <th>Name</th>
        <th>%</th>
        <th>Price</th>
        <th>APK</th>
        <th>Type</th>
      </tr>

      <tr class="hover_this" id="smalltext" ng-repeat="bev in bevs">
        <td style="padding-left:1em;">{{bev.name}} {{bev.name_2 }}</td>
        <td>{{(bev.alcohol*100).toFixed(1)}} %</td>
        <td>{{bev.price}} SEK</td>
        <td>{{bev.apk}} ml/kr</td>
        <td>{{bev.tags[0].name}}</td>
        <td><a ng-controller="firebaseCtrl" ng-click="setbev(bev);" ng-href="#!/article/{{bev.article_id}}" class="btn hardbuttons">Go to product<a></td>
        </tr>

      </table>
    </div>
  </div>

  <ng-include src="'partials/drink-sidebar.html'"></ng-include>
